.record-page-wrapper {
  width: 700px;
  color: #fff;
  min-height: calc(100% - 100px);
  padding: 100px 0px 20px 0 ;
  margin: 0 auto; 
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);

  .record-txt {
    color: #3eaf7c;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
  }
  
  :global {
    .ant-timeline-item-content{
      color: #bfbaba;
      font-family: DINpro;
      font-size: 19px;
    }
    
    .ant-timeline-item-tail {
      border-left-color: #999;
    }

    .ant-timeline-item-head-custom {
      color: #bfbaba;
      font-size: 12px;
      background: transparent;
    }
  }

}